* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-color: #e5e5e5;
}

.container-main {
  background-color: #fff;
  padding: 10px;
  border-bottom-left-radius: 3rem;
  padding-bottom: 6rem;
}

header {
  color: white;
  background: no-repeat center/100% url(images/headerbg.svg);
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.5s ease;
  color: #333;
}

a {
  text-decoration: none;
}

.nav-branding {
  font-size: 1.8rem;
  color: #6070ff;
  font-weight: 600;
}

button,
.nav-link {
  transition: all 1s ease-out;
}

.nav-link:hover {
  cursor: pointer;
  color: #6070ff;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: dodgerblue;
}

.header {
  margin-top: 4rem;
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.header-content {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.header-footer {
  margin-top: 1.2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header-footer a {
  color: #7f8cff;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  padding-left: 3.2rem;
  list-style-type: none;
  gap: 1.4rem;
  transform: scale(130%);
}

.connect-link a {
  font-size: 24px;
  font-weight: 400;
  color: #6070ff;
}

.social-icons li a {
  color: #636363;
}

.icon-link:hover {
  cursor: pointer;
  color: #7f8cff;
}

/* Portfolio Styles
************************** */
.portfolio {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 100px;
  margin: 100px 0;
}

.card {
  background-color: white;
  box-shadow: 0 3px 2px rgba(255, 255, 255, 0.5), 0 3px 6px rgba(255, 255, 255, 0.826);
  width: 90%;
  margin: 0 auto;
  border-radius: 16px;
  padding-bottom: 2rem;
}

.card-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-container-1 {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card img {
  border-radius: 16px;
}

h3 {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 8px 0;
}

h4 {
  color: #7a869a;
  margin: 0;
}

h4 span {
  color: #344563;
}

.card p {
  padding-top: 12px;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 10px;
}

.card ul,
.about ul {
  padding: 0;
  display: flex;
}

.card li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0 15px 0 0;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 10px 10px;
}

button {
  color: #396df2;
  background-color: white;
  border: 1px solid #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  align-self: flex-start;
  padding: 8px 8px;
  margin-top: 1rem;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

button:active {
  color: white;
  background: #2230d2;
  box-shadow: none;
}

/* About Styles
************************** */
.about {
  background: white;
  border-top-right-radius: 80px;
  padding: 3rem 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84%;
  background-color: #fff;
  margin: 4rem auto;
}

.about h2 {
  margin-top: 3.5rem;
  font-size: 2rem;
  padding-bottom: 10px;
}

.about li {
  display: inline-block;
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.about .connect {
  margin-top: 0;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.about h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skills {
  margin-bottom: 50px;
}

.about button {
  margin: 10px 0 20px 0;
}

.social-icons ul li {
  list-style-type: none;
}

.social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background-color: #6070ff;
}

/* Contact Styles
************************** */

.contact {
  background-color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/contact-form-shapes-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 top 5px;
  background-color: #6070ff;
  border-top-left-radius: 5rem;
  padding: 6rem 0;
}

.contact h2,
.contact p {
  color: white;
  text-align: center;
}

.contact h2 {
  margin-top: 3rem;
  font-weight: 800;
  font-size: 30px;
}

.contact p {
  margin: 0;
  width: 84%;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  gap: 1rem;
}

input,
textarea {
  font: inherit;
  width: 300px;
  border-radius: 0.5rem;
  padding: 10px;
  outline: none;
  border: none;
}

textarea {
  height: 9rem;
}

.btn-submit {
  color: #396df2;
  background-color: white;
  border: 1px solid #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  align-self: flex-start;
  padding: 8px 15px;
  transition: all 1s ease-in-out;
}

.line {
  width: 10rem;
  height: 6px;
  background-color: #000;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

@media all and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    transition: 0.2s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .header {
    max-width: 300px;
  }
}

@media all and (min-width: 768px) {
  header {
    color: white;
    background: no-repeat url(images/headerbg.svg);
  }

  .hamburger {
    display: none;
  }

  .header,
  .header-content,
  .header-footer,
  .social {
    padding-left: 260px;
  }

  .header {
    max-width: 630px;
  }

  .header-content {
    max-width: 920px;
  }

  .my-logo {
    padding-left: 145px;
    animation-name: rotate;
    animation-duration: 0.9s;
  }

  .container-main {
    margin: 0;
    padding-bottom: 10rem;
  }

  .social-icons {
    padding-right: 25rem;
  }

  .card {
    width: 65%;
  }

  .card-content-1 h3 {
    margin-bottom: 0;
  }

  .card-container-1 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.5rem;
  }

  .card-content-1 {
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-left: 0;
    padding-left: 2rem;
    align-items: flex-start;
    margin-right: auto;
    padding-top: 2rem;
  }

  .card-container-1 img {
    padding-right: 2rem;
    padding-top: 3rem;
  }

  .card-image img:hover {
    transform: scale(120%);
  }

  .card-container {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    padding-top: 2rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    column-gap: 2rem;
    padding-left: 1rem;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    justify-content: space-between;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 600px;
  }

  .about-content p {
    font-size: 18px;
    font-weight: 500;
  }

  .btn-icon-language {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 6rem;
  }

  .stack {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }

  .stack li {
    display: flex;
    width: 140px;
    height: 120px;
    padding-right: 3rem;
  }

  .display {
    display: block;
  }

  .contact-container p {
    max-width: 562px;
  }

  .btn-submit {
    margin-left: 4rem;
  }

  @keyframes moveToRight {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(150px);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotate(90deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.delay-3 {
  animation-delay: 2s;
}

.move-in {
  animation-name: moveIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    top: -1000px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.shake:hover {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes shake {
  from {
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  to {
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
